[Desktop Entry]
Type=Application
Name=Arduino IDE
Exec=/home/al/Documents/ArduinoIDEapp/Arduino-ide.AppImage
Comment=launching Arduino IDE
Terminal=false
Categories=Development;IDE;
