[Desktop Entry]
Type=Application

Name=Godot
Exec=/home/al/Documents/GodotApp/Godot_v4.3-stable_linux.x86_64
Terminal=false
Comment=Starting Godot

Categories=Development;IDE;Game;
